#STANDARD SETTINGS
sv_name "Server name"
sv_max_clients 64
sv_max_clients_per_ip 2
sv_port 8303
sv_map "xPanic life"
sv_gametype xPanic
sv_register 1


#RCON PASSWORD
sv_rcon_password "rcon password"
sv_rcon_mod_password "mod password"
sv_rcon_helper_password "helper password"

#OTHER SETTINGS
sv_exp_bonus 3
sv_emoticon_delay 0
sv_test_cmds 1
sv_warmup 30
sv_inactivekick 4
sv_spectator_votes 0
sv_timelimit 7
sv_new_health 1
logfile "xPanic.log"
sv_motd ""


# VOTES SETTINGS
add_vote "|设置| 打开爱心摧毁墙" "sv_destroywall 1"
add_vote "|设置| 关闭爱心摧毁墙" "sv_destroywall 0"
add_vote "|设置| 开启榴弹跳" "sv_grenade_jump 1"
add_vote "|设置| 关闭榴弹炮" "sv_grenade_jump 0"
add_vote "|设置| 打开结束时显示你的W/L" "sv_show_statsendround 1"
add_vote "|设置| 关闭结束时显示你的W/L" "sv_show_statsendround 0"

add_vote "|地图| 4条路" "change_map 4Ways"
add_vote "|地图| 外星51区" "change_map Area-51"
add_vote "|地图| 沙滩小屋" "change_map Beach-House"
add_vote "|地图| 中国街" "change_map china-town"
add_vote "|地图| 沙漠惊魂" "change_map Desert-panic"
add_vote "|地图| 2号仓库" "change_map Depot2"
add_vote "|地图| 灵魂提取" "change_map ExtPanic"
add_vote "|地图| 终焉" "change_map Final"
add_vote "|地图| 万圣节城堡" "change_map Hallowen Castle"
add_vote "|地图| 冰屋" "change_map Ice-house"
add_vote "|地图| 小小惊吓" "change_map littlePanic"
add_vote "|地图| MC惊魂" "change_map panic_minecraft"
add_vote "|地图| 在你身后" "change_map panic_run"
add_vote "|地图| 法老金字塔" "change_map Pharao-Pyramid"
add_vote "|地图| Rioの避难所" "change_map Shelter by Rio"
add_vote "|地图| 隧道" "change_map Tunnel"
add_vote "|地图| X人生" "change_map xPanic life"
add_vote "|地图| Zombie Run X15" "change_map Zombierunx15"
add_vote "|地图| Dio的『世 界』" "change_map THE_WORLD"
add_vote "|地图| 泡沫房" "change_map bubble-House"


# ACCESS DDNET
access_level left 2
access_level right 2
access_level up 2
access_level down 2
access_level super 2
access_level unsuper 2
access_level tele 2
access_level totele 2
access_level totelecp 2
access_level logout 2
access_level ninja 2
access_level grenade 2
access_level shotgun 2
access_level rifle 2
access_level weapons 2
access_level unweapons 2
access_level unrifle 2
access_level unshotgun 2
access_level ungrenade 2
access_level unsolo 2
access_level undeep 2
access_level status 2

# commands for moderators only
access_level ban 1
access_level unban 1
access_level ban_range 1
access_level unban_range 1
access_level unban_all 1
access_level bans 1
access_level bans_save 1
access_level kick 1
access_level force_vote 1
